/* ==========================================================================
   布局
============================================================================ */

.g-hd {
    height: 90px;
}

.g-box {
    width: 1205px;

    margin: 0 auto;
}

@media screen and (max-width: 1205px) {
    .g-box {
        width: 964px;
    }
}

/* ==========================================================================
   元件
============================================================================ */

.u-icon {
    display: inline-block;
}

.u-icon-close {
    width: 9px;
    height: 9px;

    background: url(../images/icons/close.png) no-repeat;
}

.u-icon-plus {
    width: 8px;
    height: 8px;

    background: url(../images/icons/plus.png) 0 0 no-repeat;
}

.u-icon-check {
    width: 11px;
    height: 9px;

    background: url(../images/icons/check.png) 0 0 no-repeat;
}

.u-icon-magnify {
    width: 19px;
    height: 19px;

    background: url(../images/icons/magnifiy.png) 0 0 no-repeat;
}

/* ==========================================================================
   module:tips
============================================================================ */

.m-tips {
    height: 36px;

    line-height: 36px;

    background-color: #f3f3f3;
}

.m-tips .viewnow {
    color: #39a030;
}

/* ==========================================================================
   module: top
============================================================================ */

.m-top {
    height: 22px;

    padding: 33px 0 37px 0;
}

.m-top .attention {
    margin-left: 30px;

    line-height: 22px;
}

.m-top .attention.z-show .hbfo {
    display: none;
}

.m-top .attention.z-hide .dnc {
    display: none;
}

.m-top .dnc a {
    display: block;

    width: 55px;

    border-radius: 2px;

    color: #fff;
    text-align: center;

    background: #21a557;
}

.m-top .hbfo {
    height: 20px;

    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 0px 6px;

    line-height: 20px;

    background: #f8f8f8;
}

.m-top .hbfo:hover {
    background-color: #fff;
}

.m-top .cancel {
    color: #999;
}

.m-top .info {
    color: #333;
}

.m-top .interval {
    color: #ccc;
}

.m-top .cancel:hover {
    color: #21a557;
    text-decoration: underline;
}

.m-top .num {
    margin-left: 15px;

    color: #666;
}

.m-top .nav {
    font-size: 16px;
}

.m-top .nav .search,
.m-top .nav .netease {
    margin-left: 0;
}

.m-top .netease a:hover {
    color: #39a030;
}

.m-top .nav .search {
    margin: 0px 14px 0px 30px;
}

.m-top .nav li {
    float: left;

    margin-left: 55px;
}

.m-top .search .u-icon-magnify:hover {
    background: url(../images/icons/magnifiy-hover.png) 0 0 no-repeat;
}

/* ==========================================================================
   module:sld
============================================================================ */

.m-sld {
    height: 376px;
}

.m-sld .imgs {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.m-sld .imgs a {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.m-sld .imgs img {
    width: 100%;
    height: 100%;
}

.m-sld .dot {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.m-sld .dot span {
    display: inline-block;

    width: 10px;
    height: 10px;

    margin-right: 10px;
    border-radius: 50%;

    background: #000;
}

.m-sld .dot span.z-show {
    background: #fff;
}

/* ==========================================================================
   module:snav
============================================================================ */

.m-snav ul {
    height: 176px;

    margin-left: -80px;
}

.m-snav li {
    float: left;

    width: 33.33%;

    padding-left: 80px;
    box-sizing: border-box;
}

.m-snav .logo {
    float: left;

    width: 80px;
    height: 80px;

    border-radius: 50px;

    background: #39a030 center center no-repeat;
}

.m-snav .logo-1 {
    background-image: url(../images/icons/opnCrs.png);
}

.m-snav .logo-2 {
    background-image: url(../images/icons/cldClass.png);
}

.m-snav .logo-3 {
    background-image: url(../images/icons/mooc.png);
}

.m-snav .explain {
    margin-left: 100px;

    font-size: 14px;
}

.m-snav .tt {
    font-size: 22px;
    font-weight: 300;
}

.m-snav .info {
    margin: 20px 0;

    color: #666;
    line-height: 24px;
}

.m-snav .more {
    color: #39a030;
}

.m-snav .more:hover {
    color: #39a030;

    text-decoration: underline;
}

/* ==========================================================================
   module:modal
============================================================================ */

.m-modal {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.m-modal .bd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 8px;

    background: #fff;
}

.m-modal .close {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.m-modal .close .closebtn {
    cursor: pointer;
}

.m-modal .close .closebtn:hover {
    background-color: #ddd;
}

/* ==========================================================================
   module:login
============================================================================ */

.m-login {
    margin: 2px 42px 28px 32px;
}

.m-login .tt {
    margin-bottom: 22px;

    font-size: 18px;
    color: #444;
}

.m-login form input {
    display: block;

    width: 284px;

    margin-bottom: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 1px 1px 2px #ccc;
    padding: 15px 0 15px 10px;

    font-size: 16px;

    background-color: #fafafa;
}

.m-login form input.error {
    border: 1px solid #ff3939;
}

.m-login .submit {
    display: block;

    width: 295px;
    height: 48px;

    margin-top: 30px;
    box-shadow: 2px 3px 0px #d5e3da;

    color: #fff;
    font-size: 16px;
    line-height: 48px;
    text-align: center;

    background: radial-gradient(closest-side, #25ad48, #14952e);
}

/* ==========================================================================
   module:video
============================================================================ */

.m-video {
    margin: 2px 22px 28px 26px;
}

.m-video .tt {
    margin-bottom: 20px;

    color: #444;
    font-size: 18px;
}

.m-video .video {
    width: 100%;
}
