/* ==========================================================================
   布局
============================================================================ */

.g-box {
    width: 1205px;

    margin: 0 auto;
}

@media screen and (max-width: 1205px) {
    .g-box {
        width: 964px;
    }
}

/* ==========================================================================
   元件
============================================================================ */

.u-icon {
    display: inline-block;
}

.u-icon-close {
    width: 9px;
    height: 9px;
    
    background: url(../images/icons/close.png) no-repeat;
}

/* ==========================================================================
   module:tips
============================================================================ */

.m-tips {
    height: 36px;

    line-height: 36px;

    background-color: #f3f3f3;
}

.m-tips .viewnow {
    color: #39a030;
}

/* ==========================================================================
   module:modal
============================================================================ */

.m-modal {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.m-modal .bd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 8px;

    background: #fff;
}

.m-modal .close {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.m-modal .close .closebtn {
    cursor: pointer;
}

.m-modal .close .closebtn:hover {
    background-color: #ddd;
}

/* ==========================================================================
   module:login
============================================================================ */

.m-login {
    margin: 2px 42px 28px 32px;
}

.m-login .tt {
    margin-bottom: 22px;

    font-size: 18px;
    color: #444;
}

.m-login form input {
    display: block;

    width: 284px;

    margin-bottom: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 1px 1px 2px #ccc;
    padding: 15px 0 15px 10px;

    font-size: 16px;

    background-color: #fafafa;
}

.m-login form input.error {
    border: 1px solid #ff3939;
}

.m-login .submit {
    display: block;

    width: 295px;
    height: 48px;

    margin-top: 30px;
    box-shadow: 2px 3px 0px #d5e3da;

    color: #fff;
    font-size: 16px;
    line-height: 48px;
    text-align: center;

    background: radial-gradient(closest-side, #25ad48, #14952e);
}

/* ==========================================================================
   module:video
============================================================================ */

.m-video {
    margin: 2px 22px 28px 26px;
}

.m-video .tt {
    margin-bottom: 20px;

    color: #444;
    font-size: 18px;
}

.m-video .video {
    width: 100%;
}
